


.contentInfo{
    max-width: 600px;
    width: 100%;
    height: 100%;
    padding: 0 500px 0 0;
}

.flexDiv{
    display: grid;
    grid-template-columns: 200px 100% ;   
    padding: 5px 0 5px 0;
    gap: 20px;
}

.descriptionFilm{
    width: 900px;
}
.nameFilm{
    font-size: 20px;
    color: #919191;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 0 6px 0;
}
.RuNameFilm{
    font-family: fantasy;
    font-size: 40px;
    color: #1f1f1f;
    margin: 20px 0 1px 0;
}
.aboutFilm{
    margin: 20px 0 1px 0;
    font-weight: bold;
}

.textFilm{
    margin: 10px 0 5px 0;

}
.sloganFilm{
    margin: 10px 0 5px 0;
    font-weight: lighter;
}



.contentFoto img{
    width: 300px;
    height: 400px;
}

.contentMain .button{
    border:none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-size: 40px;
    background-color: rgb(244, 244, 244);
}

.contentMain .switch .checkbox{
    visibility: hidden;
}
.contentMain .switch div{
    border:none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-size: 40px;
}

.contentMain{
    display: flex;
    justify-content:center ;
    gap: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    max-width: 1500px;
    max-height: 2500px;
    width: 100%;
    height: 100%;
   
    animation-name: carouselMove;
    animation-duration: 0.1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: none;
}


